@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { 
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-slide-content {
  font-size:26px;
  padding-left: 64px;
  padding-right: 64px;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.left-column {
  width: 48%;
  height: 92%;
  float: left;
}

.right-column {
  width: 48%;
  float: right;
}

.remark-slide-content li {
	padding-bottom: 20px;
}

small {
  font-size: 16px;
}

